src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core  http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd   http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<apikit:config name="railcards-accounts-sa-config"
		api="resource::1646e1ef-5dd6-4ed5-973a-0ca5ce210da2:accounts-sa:1.0.9:raml:zip:bus-travel-accounts-sa.raml"
		raml="bus-travel-accounts-sa.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" disableValidations="true"/>
	<flow name="railcards-accounts-sa-api">
		<http:listener
			config-ref="railcards-accounts-sa-httpsListenerConfig"
			path="${https.listener.path}" doc:name="HTTPS Listener">
			<http:response
				statusCode="#[vars.httpStatus default 200]" />
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Initialize Variables"
			doc:id="76ce7860-f80d-4160-bc64-9d6916dda57b">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="basicDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"CUSTOMER_CORRELATION_ID": if (attributes.headers.'CUSTOMER_CORRELATION_ID' != null) trim(attributes.headers.'CUSTOMER_CORRELATION_ID')  else 'CUSTOMER_CORRELATION_ID_NOT_FOUND',
	"X_CORRELATION_ID": if (!isEmpty(attributes.headers.X_CORRELATION_ID)) trim(attributes.headers.X_CORRELATION_ID) else correlationId,
	"client_id": if (attributes.headers.'client_id' != null) trim(attributes.headers.'client_id')  else null,
	"httpMethod": attributes.Method,
	"relativePath": attributes.relativePath	
}]]></ee:set-variable>
				<ee:set-variable variableName="vRequestMethod"><![CDATA[%dw 2.0
output application/json
---
attributes.Method]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Start"
			doc:id="659544b7-dc21-430b-8fb4-6d301eb6c61f"
			message="START - Request received" config-ref="JSON_Logger_Config"
			correlationId="#[vars.basicDetails.X_CORRELATION_ID default 'MULE-CORRELATIONID-NOTFOUND']">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
   	details: vars.basicDetails,
   	payload: if (vars.vRequestMethod != 'GET')
    			if(!isEmpty(payload)) JSONLoggerModule::stringifyNonJSON(payload) else null
    		  else
    		  	null
}]]]></json-logger:content>
		</json-logger:logger>
		<apikit:router config-ref="railcards-accounts-sa-config" />
		<json-logger:logger doc:name="End"
			doc:id="1d6c2181-7162-4264-b191-609de976ce8a"
			message="END - Request processing completed"
			config-ref="JSON_Logger_Config" tracePoint="END"
			correlationId="#[vars.basicDetails.X_CORRELATION_ID default 'MULE-CORRELATIONID-NOTFOUND']">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: if(!isEmpty(payload)) JSONLoggerModule::stringifyNonJSON(payload) else null,
    details: vars.basicDetails
}]]]></json-logger:content>
		</json-logger:logger>
		<error-handler ref="global-error-handler" />
	</flow>
	<flow
		name="put:\accounts\(id):application\json:railcards-accounts-sa-config">
		<flow-ref
			doc:name="railcards-accounts-sa-put-accounts-sub-flow"
			doc:id="a8e79c81-76e6-479a-8978-3116ab9b616c"
			name="railcards-accounts-sa-put-accounts-sub-flow" />
	</flow>
	<flow name="get:\accounts:railcards-accounts-sa-config">
		<flow-ref
			doc:name="railcards-accounts-sa-get-accounts-sub-flow"
			doc:id="9e4608c6-d1f2-40ae-914b-5ab399332f86"
			name="railcards-accounts-sa-get-accounts-sub-flow" />
	</flow>
	<flow name="get:\accounts\(id):railcards-accounts-sa-config">
		<flow-ref
			doc:name="railcards-accounts-sa-get-account-details-sub-flow"
			doc:id="a95c05b6-c85d-4276-ab74-935d73a27848"
			name="railcards-accounts-sa-get-account-details-sub-flow" />
	</flow>
	<flow
		name="post:\accounts:application\json:railcards-accounts-sa-config">
		<flow-ref
			doc:name="railcards-accounts-sa-post-accounts-sub-flow"
			doc:id="6b72b369-c82d-40a0-9d51-a8cdadcd8d0e"
			name="railcards-accounts-sa-post-accounts-sub-flow" />
	</flow>
</mule>
